/* css */

h1 {
    text-align: center;
    
}

.book {
    position: absolute;
    z-index: 100;
}

.popup {
    position:absolute;
    z-index: 1;
    border: 1px solid black;
    background-color: purple;
    justify-content: center;
    align-items: center;
}