/* css */

h1 {
    text-align: center;
    
}

#book {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Adjust as needed */
    position: absolute;
    z-index: 100;
}

#popup {
  border: 1px solid black;
  background-color: aqua;
}