/* css */

h1 {
    text-align: center;
    
}

#book {
    display: block;
    left:auto;
    right:auto;
    position: absolute;
    z-index: 100;
}

#popup {
    border: 1px solid black;
    background-color: aqua;
    width: 300px; /* Essential: The div must have a constrained width */
    display: block;
    margin: 0 auto;
}